@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;900&display=swap');




body {
    font-family: 'Mulish', sans-serif;
    background-color: #EBEBEB;
}

.header-container {
    background-image: url(../img/portada.jpg);
    height: 576px;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-nav{
    width: 180px
}

.header-title-container {
    margin: 0;
    padding: 0;
    height: 70%;
}

.header-title-container span {
    font-size: 2em;
}

#nombre-servicios {
    /* margin-bottom: 100px !important; */
    height:240px
}
 
.services-description {
    background-color: #fff;
    margin-bottom: 100px;
}

.serv-item {
    background: #fff;
    color: #333;
    
}



.testimonials {
    background-color: #D6B1B1;
    height: 336px;
}

.title  {
    font-style: normal;
    font-weight: 900;
    line-height: 80px;
    color: #FFFFFF;
    font-size: 4em;
}


h2 {
    font-weight: bold;
}

h3 {
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
}

h4 {
font-weight: 800;
}

.contact h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 45px;
    letter-spacing: 0em;
    color: #000
}

.contact h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 0.5);
}

.form label,
.social p, .mail p {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom:0;
}
.mail p{
    margin-bottom:0;
}
.form button {
    width: 187px;
    height: 43px;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-family: Mulish;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 59px;
}

.form button:hover {
    color: #EBEBEB;
    background-color: #000;
}

.form button:focus {
    color: #EBEBEB;
    background-color: #000;
}

.form h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.social {
    margin-bottom: 43px;
}
.social-container{
    margin-bottom:15px;
}
.social h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.social a, .mail a {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

.form form input {
    width: 100%;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    border: none;
    border-bottom: 1px solid #757575;
    background-color: transparent;
    border-radius: 0;

}

input:focus {
    outline: none;
}

form label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    pointer-events: none;
}

form textarea {
    width: 100%;
    background-color: transparent;
}

.social-footer {
    background-color: #000;
    height: 236px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

}

.footer-logo,
.footer-socila-content {
    width: auto;
}

.footer-logo {
    margin-right: 170px;
}

.footer section {
    padding: 0
}
.galeria-video video{
    max-width: 360px ;
    
}  

@media (max-width: 576px) { 
    
    .logo-nav{
        width: 130px;
    }
    .title{
        font-size: 2em;
    }
    .header-container{
        padding:0;
        

    }
    .header-container button {
        background-color: #EBEBEB;
    }
    .header-container nav{
        background-color: #333 !important;
        width: 100%;
        margin: 0;
        padding: 0
    }

    #nombre-servicios{
       height: 45vh
    }
 }

